<div class="container mx-auto p-10">
  <h2 class="text-2xl mb-4">Enter your Hiragana Name</h2>
  <%= form_with url: translate_path, method: :post, local: true do |form| %>
    <div class="mb-4">
      <%= form.label :hiragana_name, class: 'block' %>
      <%= form.text_field :hiragana_name, class: 'border rounded w-full p-2' %>
    </div>
    <div class="mb-4">
      <%= form.label :language, class: 'block' %>
      <%= form.select :language, [['Korean', 'ko'], ['Thai', 'th']], { prompt: 'Select Language' }, class: 'border rounded w-full p-2' %>
    </div>
    <div>
      <%= form.submit 'Translate', class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
    </div>
  <% end %>
</div>